@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Sarabun', sans-serif;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0px 20px;
}

nav li:first-child img {
    height: 50px;
}

nav li:first-child {
    margin-right: auto;
}

nav li:last-child {
    margin-left: auto;
}
nav li button {
    padding: 7px 30px;
    background-color: blue;
    border: 0px;
    border-radius: 20px;
    color: white;   
}